.header_bottom {
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(59, 200, 147, 0.47);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
